<div class="align-left">
{% if error %}
    <div class="light small bold">{{error}}</div>
{% else %}
    <div class="light small normal">
        display: <span class="bright">{{contrast}}</span> (contrast), <span class="bright">{{brightness}}</span> (brightness)
    </div>
    <div class="light small normal">
        location: <span class="bright">{{location}}</span> ({{localTime}})<br/>
        dawn: ..., dusk: ...
    </div>
    <div class="light small normal">
        current illumination: <span class="bright">{{illumination}}</span>
    </div>
{% endif %}
</div>
